<?xml version="1.0" encoding="utf-8"?>
<TcMDProject Version="1.8.3.0">
	<GUID>dd16cf9e-76b5-4902-abc5-bd94365e9daf</GUID>
	<ProjectName>Simple Ball Screw</ProjectName>
	<Description>Simple Ball Screw</Description>
	<ResourceFiles />
	<ReportExtension />
	<DClinks>
		<TcMDDClink Version="1.8.3.0">
			<GUID>636dde54-f618-4f65-b11f-a572fa04f8e9</GUID>
			<Name>DC link 1</Name>
			<Properties>
				<Name>Properties</Name>
				<Parameter>
					<PropertyName>UMain</PropertyName>
					<Value>
						<NumberNode>
							<Content>415</Content>
						</NumberNode>
					</Value>
					<Unit>V</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>PowerSupplyType</PropertyName>
					<Value>AC3PH</Value>
				</Parameter>
				<Parameter>
					<PropertyName>AdditionalCapacitance</PropertyName>
					<Value>
						<NumberNode>
							<Content>0</Content>
						</NumberNode>
					</Value>
					<Unit>F</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>DriveGroup</PropertyName>
					<Value>AX5000</Value>
				</Parameter>
				<Parameter>
					<PropertyName>VoltageTolerance</PropertyName>
					<Value>
						<NumberNode>
							<Content>0.05</Content>
						</NumberNode>
					</Value>
					<Unit>1</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>ChopperThreshold</PropertyName>
					<Value>
						<NumberNode>
							<Content>840</Content>
						</NumberNode>
					</Value>
					<Unit>V</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>BrakeResistanceOption</PropertyName>
					<Value>BrakeResIntern</Value>
				</Parameter>
			</Properties>
			<Axes>
				<TcMDRotAxis Version="1.8.3.0">
					<GUID>885692ec-8706-493b-95dd-c1a12f1ce00d</GUID>
					<Name>Rotary axis 1</Name>
					<Drive>
						<OrderCode>AX5106-0000-02xx</OrderCode>
						<UniqueOrderCode>AX5106-0000-02xx</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>DualUseOption</PropertyName>
								<Value>NotDefined</Value>
							</Parameter>
							<Parameter>
								<PropertyName>FirmwareOption</PropertyName>
								<Value>NotDefined</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</Drive>
					<ReportExtension />
					<LoadcaseBlock>
						<SpindleDriveLoadcase Configuration="1">
							<Name />
							<Parameter>
								<PropertyName>ThreadLead</PropertyName>
								<Value>
									<NumberNode>
										<Content>10</Content>
									</NumberNode>
								</Value>
								<Unit>mm</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>InertiaSpindle</PropertyName>
								<Value>
									<Collection>
										<Cylinder Configuration="1">
											<Name>Cylinder</Name>
											<Parameter>
												<PropertyName>Number</PropertyName>
												<Value>1</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Mode</PropertyName>
												<Value>ModeAddition</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Diameter</PropertyName>
												<Value>
													<NumberNode>
														<Content>20</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>Height</PropertyName>
												<Value>
													<NumberNode>
														<Content>100</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>DistanceAxis</PropertyName>
												<Value>
													<NumberNode>
														<Content>0</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>RotaryAxis</PropertyName>
												<Value>AAxis</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Density</PropertyName>
												<Value>
													<NumberNode>
														<Content>1</Content>
													</NumberNode>
												</Value>
												<Unit>kg/l</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>Mass</PropertyName>
												<Value>
													<NumberNode>
														<Content>0</Content>
													</NumberNode>
												</Value>
												<Unit>kg</Unit>
											</Parameter>
										</Cylinder>
									</Collection>
								</Value>
								<Unit>kgcm²</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>MassLoad</PropertyName>
								<Value>
									<NumberNode>
										<Content>1</Content>
									</NumberNode>
								</Value>
								<Unit>kg</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>Inclination</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>°</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>CounterMass</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>kg</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>CounterMassForce</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>N</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>FrictionCoefficient</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit />
							</Parameter>
							<Parameter>
								<PropertyName>Efficiency</PropertyName>
								<Value>
									<NumberNode>
										<Content>100</Content>
									</NumberNode>
								</Value>
								<Unit>%</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>Gravitation</PropertyName>
								<Value>
									<NumberNode>
										<Content>9.81</Content>
									</NumberNode>
								</Value>
								<Unit>m/s²</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>TorqueNoLoadRunning</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>Nm</Unit>
							</Parameter>
						</SpindleDriveLoadcase>
					</LoadcaseBlock>
					<TrajectoryBlock>
						<Name>Trajectory</Name>
						<Parameter>
							<PropertyName>InitialValue</PropertyName>
							<Value>
								<NumberNode>
									<Content>0</Content>
								</NumberNode>
							</Value>
							<Unit>mm</Unit>
						</Parameter>
						<Sections>
							<ThirdRule GroupType="H2HPosDur">
								<Name>Motion section</Name>
								<Parameter>
									<PropertyName>PositionMode</PropertyName>
									<Value>Relative</Value>
								</Parameter>
								<Parameter>
									<PropertyName>Position</PropertyName>
									<Value>
										<NumberNode>
											<Content>120</Content>
										</NumberNode>
									</Value>
									<Unit>mm</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>Duration</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>s</Unit>
								</Parameter>
							</ThirdRule>
						</Sections>
					</TrajectoryBlock>
					<ForceBlock>
						<Name>ForceGenerator</Name>
						<Sections />
					</ForceBlock>
					<MassBlock>
						<Name>MassGenerator</Name>
						<Sections>
							<MassFcnSection>
								<Name>Mass section</Name>
								<Parameter>
									<PropertyName>Mass</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>kg</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>Duration</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>s</Unit>
								</Parameter>
							</MassFcnSection>
						</Sections>
					</MassBlock>
					<PreFilterTrees>
						<Element>BASE_FILTER</Element>
						<Children>
							<Child>
								<Element>GEARBOX_PREFILTER</Element>
								<Children>
									<Child>
										<Element>GearboxVendor</Element>
										<Children>
											<Child>
												<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
												<Children>
													<Child>
														<Element>AG3210-+NP</Element>
														<Children>
															<Child>
																<Element>AG3210-+NP005</Element>
															</Child>
															<Child>
																<Element>AG3210-+NP015</Element>
															</Child>
															<Child>
																<Element>AG3210-+NP025</Element>
															</Child>
															<Child>
																<Element>AG3210-+NP035</Element>
															</Child>
															<Child>
																<Element>AG3210-+NP045</Element>
															</Child>
														</Children>
													</Child>
												</Children>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>GearDesignType</Element>
										<Children>
											<Child>
												<Element>Colinear</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>GearOutputGeometry</Element>
										<Children>
											<Child>
												<Element>Shaft</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>GearStagesGearRatio</Element>
										<Children>
											<Child>
												<Element>1</Element>
												<Children>
													<Child>
														<Element>3</Element>
													</Child>
													<Child>
														<Element>4</Element>
													</Child>
													<Child>
														<Element>5</Element>
													</Child>
													<Child>
														<Element>7</Element>
													</Child>
													<Child>
														<Element>8</Element>
													</Child>
													<Child>
														<Element>10</Element>
													</Child>
												</Children>
											</Child>
										</Children>
									</Child>
								</Children>
							</Child>
							<Child>
								<Element>ROTARY_MOTOR_PREFILTER</Element>
								<Children>
									<Child>
										<Element>MotorVendor</Element>
										<Children>
											<Child>
												<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
												<Children>
													<Child>
														<Element>AM80xx</Element>
														<Children>
															<Child>
																<Element>AM801x</Element>
															</Child>
															<Child>
																<Element>AM802x</Element>
															</Child>
															<Child>
																<Element>AM803x</Element>
															</Child>
															<Child>
																<Element>AM804x</Element>
															</Child>
															<Child>
																<Element>AM805x</Element>
															</Child>
															<Child>
																<Element>AM806x</Element>
															</Child>
															<Child>
																<Element>AM807x</Element>
															</Child>
														</Children>
													</Child>
												</Children>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>FeedbackSystem</Element>
										<Children>
											<Child>
												<Element>Oct23BitMT</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>ShaftDefinition</Element>
										<Children>
											<Child>
												<Element>SmoothShaft</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</Child>
							<Child>
								<Element>DRIVE_PREFILTER</Element>
								<Children>
									<Child>
										<Element>NumberofChannels</Element>
										<Children>
											<Child>
												<Element>1</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</Child>
						</Children>
					</PreFilterTrees>
					<MotorAddData>
						<OrderCode>AM8031-xCxx-0000</OrderCode>
						<UniqueOrderCode>AM8031-0C00-0000</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>ShaftDefinition</PropertyName>
								<Value>SmoothShaft</Value>
							</Parameter>
							<Parameter>
								<PropertyName>FeedbackSystem</PropertyName>
								<Value>B</Value>
							</Parameter>
							<Parameter>
								<PropertyName>BrakingOption</PropertyName>
								<Value>NoBrake</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</MotorAddData>
					<MotorAccessories />
					<MotorThermalUtilizationParameter>
						<Name />
						<Parameter>
							<PropertyName>NumberOfCycles</PropertyName>
							<Value>100</Value>
						</Parameter>
						<Parameter>
							<PropertyName>NumberOfEndCycles</PropertyName>
							<Value>5</Value>
						</Parameter>
					</MotorThermalUtilizationParameter>
					<DriveThermalUtilizationParameter>
						<Name />
						<Parameter>
							<PropertyName>NumberOfCycles</PropertyName>
							<Value>100</Value>
						</Parameter>
						<Parameter>
							<PropertyName>NumberOfEndCycles</PropertyName>
							<Value>5</Value>
						</Parameter>
					</DriveThermalUtilizationParameter>
					<EmergencyBrakeParameter>
						<Name>EmergencyProperties</Name>
						<Parameter>
							<PropertyName>EmergencyTorque</PropertyName>
							<Value>
								<NumberNode>
									<Content>0</Content>
								</NumberNode>
							</Value>
							<Unit>Nm</Unit>
						</Parameter>
					</EmergencyBrakeParameter>
					<OverallGearRatio>1*4</OverallGearRatio>
					<Feedconstant>1/(1*4)*(0.01*1000)</Feedconstant>
					<Gearbox>
						<OrderCode>AG3210-+NP005S-MF1-4-xA1-F2</OrderCode>
						<UniqueOrderCode>AG3210-+NP005S-MF1-4-xA1-F2</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>ShaftDefinition</PropertyName>
								<Value>NotDefined</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</Gearbox>
					<MotorGearboxFilter>
						<IsOptimizerActive>false</IsOptimizerActive>
						<IsGearboxUsed>true</IsGearboxUsed>
						<NomSafetyFactor>1</NomSafetyFactor>
						<MaxSafetyFactor>1</MaxSafetyFactor>
						<GearboxFilter>
							<SuitableGearboxesOnly>false</SuitableGearboxesOnly>
							<ShowDeprecatedGearboxes>false</ShowDeprecatedGearboxes>
							<DesignType>3</DesignType>
							<OutputGeometry>3</OutputGeometry>
							<VelocityUtilizationWeight>0</VelocityUtilizationWeight>
							<VelocityUtilizationValue>0.7</VelocityUtilizationValue>
							<TorqueUtilizationWeight>0</TorqueUtilizationWeight>
							<TorqueUtilizationValue>0.7</TorqueUtilizationValue>
							<VendorFilter>
								<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
								<Children>
									<Child>
										<Element>AG2210-+LP</Element>
										<Children>
											<Child>
												<Element>AG2210-+LP120</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP155</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP50</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP70</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP90</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2250-+PLE</Element>
										<Children>
											<Child>
												<Element>AG2250-+PLE40</Element>
											</Child>
											<Child>
												<Element>AG2250-+PLE60</Element>
											</Child>
											<Child>
												<Element>AG2250-+PLE80</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2250-+WPLE</Element>
										<Children>
											<Child>
												<Element>AG2250-+WPLE40</Element>
											</Child>
											<Child>
												<Element>AG2250-+WPLE60</Element>
											</Child>
											<Child>
												<Element>AG2250-+WPLE80</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2300-+SP</Element>
										<Children>
											<Child>
												<Element>AG2300-+SP100</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP140</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP180</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP210</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP240</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP60</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP75</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2400-+TP</Element>
										<Children>
											<Child>
												<Element>AG2400-+TP004</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP010</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP025</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP050</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP110</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP300</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2800-+HDV</Element>
										<Children>
											<Child>
												<Element>AG2800-+HDV15</Element>
											</Child>
											<Child>
												<Element>AG2800-+HDV25</Element>
											</Child>
											<Child>
												<Element>AG2800-+HDV35</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3210-+NP</Element>
										<Children>
											<Child>
												<Element>AG3210-+NP005</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP015</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP025</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP035</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP045</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3300-+NPS</Element>
										<Children>
											<Child>
												<Element>AG3300-+NPS015</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS025</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS035</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS045</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3400-+NPT</Element>
										<Children>
											<Child>
												<Element>AG3400-+NPT005</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT015</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT025</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT035</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT045</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</VendorFilter>
							<StageRatioFilter>
								<Element>1</Element>
								<Children>
									<Child>
										<Element>3</Element>
									</Child>
									<Child>
										<Element>4</Element>
									</Child>
									<Child>
										<Element>5</Element>
									</Child>
									<Child>
										<Element>7</Element>
									</Child>
									<Child>
										<Element>8</Element>
									</Child>
									<Child>
										<Element>10</Element>
									</Child>
								</Children>
							</StageRatioFilter>
							<StageRatioFilter>
								<Element>2</Element>
								<Children>
									<Child>
										<Element>9</Element>
									</Child>
									<Child>
										<Element>12</Element>
									</Child>
									<Child>
										<Element>15</Element>
									</Child>
									<Child>
										<Element>16</Element>
									</Child>
									<Child>
										<Element>20</Element>
									</Child>
									<Child>
										<Element>21</Element>
									</Child>
									<Child>
										<Element>25</Element>
									</Child>
									<Child>
										<Element>28</Element>
									</Child>
									<Child>
										<Element>30</Element>
									</Child>
									<Child>
										<Element>31</Element>
									</Child>
									<Child>
										<Element>32</Element>
									</Child>
									<Child>
										<Element>35</Element>
									</Child>
									<Child>
										<Element>40</Element>
									</Child>
									<Child>
										<Element>50</Element>
									</Child>
									<Child>
										<Element>61</Element>
									</Child>
									<Child>
										<Element>64</Element>
									</Child>
									<Child>
										<Element>70</Element>
									</Child>
									<Child>
										<Element>91</Element>
									</Child>
									<Child>
										<Element>100</Element>
									</Child>
								</Children>
							</StageRatioFilter>
							<StageRatioFilter>
								<Element>3</Element>
								<Children>
									<Child>
										<Element>60</Element>
									</Child>
									<Child>
										<Element>80</Element>
									</Child>
									<Child>
										<Element>100</Element>
									</Child>
									<Child>
										<Element>120</Element>
									</Child>
									<Child>
										<Element>160</Element>
									</Child>
									<Child>
										<Element>200</Element>
									</Child>
									<Child>
										<Element>256</Element>
									</Child>
									<Child>
										<Element>320</Element>
									</Child>
									<Child>
										<Element>512</Element>
									</Child>
								</Children>
							</StageRatioFilter>
						</GearboxFilter>
						<MotorFilter>
							<SuitableMotorsOnly>false</SuitableMotorsOnly>
							<GearboxFit>false</GearboxFit>
							<HygienicDesignNeeded>false</HygienicDesignNeeded>
							<FanAllowed>false</FanAllowed>
							<WithBrake>false</WithBrake>
							<Force400VMotors>false</Force400VMotors>
							<SelectedFeedbacks>199703</SelectedFeedbacks>
							<SelectedShafts>63</SelectedShafts>
							<VelocityUtilizationWeight>0</VelocityUtilizationWeight>
							<VelocityUtilizationValue>0.7</VelocityUtilizationValue>
							<TorqueUtilizationWeight>0</TorqueUtilizationWeight>
							<TorqueUtilizationValue>0.7</TorqueUtilizationValue>
							<InertiaRatioWeight>0</InertiaRatioWeight>
							<InertiaRatioValue>1</InertiaRatioValue>
							<PowerWeight>0</PowerWeight>
							<PriceWeight>0</PriceWeight>
							<VendorFilter>
								<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
								<Children>
									<Child>
										<Element>AM80xx</Element>
										<Children>
											<Child>
												<Element>AM801x</Element>
											</Child>
											<Child>
												<Element>AM802x</Element>
											</Child>
											<Child>
												<Element>AM803x</Element>
											</Child>
											<Child>
												<Element>AM804x</Element>
											</Child>
											<Child>
												<Element>AM805x</Element>
											</Child>
											<Child>
												<Element>AM806x</Element>
											</Child>
											<Child>
												<Element>AM807x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM81xx</Element>
										<Children>
											<Child>
												<Element>AM811x</Element>
											</Child>
											<Child>
												<Element>AM812x</Element>
											</Child>
											<Child>
												<Element>AM813x</Element>
											</Child>
											<Child>
												<Element>AM814x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM85xx</Element>
										<Children>
											<Child>
												<Element>AM853x</Element>
											</Child>
											<Child>
												<Element>AM854x</Element>
											</Child>
											<Child>
												<Element>AM855x</Element>
											</Child>
											<Child>
												<Element>AM856x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM87xx</Element>
										<Children>
											<Child>
												<Element>AM872x</Element>
											</Child>
											<Child>
												<Element>AM873x</Element>
											</Child>
											<Child>
												<Element>AM874x</Element>
											</Child>
											<Child>
												<Element>AM875x</Element>
											</Child>
											<Child>
												<Element>AM876x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM88xx</Element>
										<Children>
											<Child>
												<Element>AM883x</Element>
											</Child>
											<Child>
												<Element>AM884x</Element>
											</Child>
											<Child>
												<Element>AM885x</Element>
											</Child>
											<Child>
												<Element>AM886x</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</VendorFilter>
						</MotorFilter>
					</MotorGearboxFilter>
				</TcMDRotAxis>
			</Axes>
			<AxisModules>
				<Axis>
					<DriveModule>
						<OrderCode>AX5106-0000-02xx</OrderCode>
						<UniqueOrderCode>AX5106-0000-02xx</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>DualUseOption</PropertyName>
								<Value>NotDefined</Value>
							</Parameter>
							<Parameter>
								<PropertyName>FirmwareOption</PropertyName>
								<Value>NotDefined</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</DriveModule>
					<Channels>
						<Channel>
							<ChannelIdx>0</ChannelIdx>
							<Name>Rotary axis 1</Name>
							<GUID>885692ec-8706-493b-95dd-c1a12f1ce00d</GUID>
						</Channel>
					</Channels>
				</Axis>
			</AxisModules>
			<ReportExtension />
		</TcMDDClink>
	</DClinks>
	<CustomerParam>
		<Name />
		<Parameter>
			<PropertyName>PersonName</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Company</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Department</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Street</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>ZipCode</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>City</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Country</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Telephone</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Email</PropertyName>
			<Value />
		</Parameter>
	</CustomerParam>
	<UserParam>
		<Name />
		<Parameter>
			<PropertyName>PersonName</PropertyName>
			<Value>Harry Mulder</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Company</PropertyName>
			<Value>Beckhoff Automation Pty. Ltd.</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Department</PropertyName>
			<Value>Supprt/Engineering</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Street</PropertyName>
			<Value>7 Eden Park Drive Macquarie Park</Value>
		</Parameter>
		<Parameter>
			<PropertyName>ZipCode</PropertyName>
			<Value>2113</Value>
		</Parameter>
		<Parameter>
			<PropertyName>City</PropertyName>
			<Value>Sydney</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Country</PropertyName>
			<Value>Australia</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Telephone</PropertyName>
			<Value>+61 2 7229 5393</Value>
		</Parameter>
		<Parameter>
			<PropertyName>Email</PropertyName>
			<Value>h.mulder@beckhoff.com</Value>
		</Parameter>
	</UserParam>
</TcMDProject>